html, body {
    height: 100%;
    max-width: 450px;
    margin: auto;
    background-color: lightgrey;
}  

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.html-inteiro {
    background-color: pink;
    width: 100%;
    height: 100%;
    
}

header {
    
    margin: auto;
    text-align: center;
    background-color: aqua;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    border: 1px solid black;
    
}

.div-botoes {
    margin: 20px auto;
    background-color: yellow;
    width: 300px;
    height: 30px;
}

button {
    margin: 5px;
}

.corpo-lista {
    margin:12px auto;
    background-color: lightgreen;
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid black;

}

.lista {
    margin: 5px 10px;
    line-height: 30px;
    text-align: left;
    list-style: none;
}

li {

    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    padding-left: 10px;
}